<div class="main-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Welcome to Adoclic Demo App!</span>
      <span class="spacer"></span>
      <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="container content-container">
    <div class="title-container">
      <h2>Product List</h2>
    </div>

    <div class="table-container">
      <form action="" *ngIf="options.length > 0">
        <mat-form-field appearance="outline">
          <mat-label>Category Filter</mat-label>
          <input
            matInput
            [formControl]="filterFormControl"
            [matAutocomplete]="auto"
            placeholder="electronics"
            #input
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <div class="mat-elevation-z0 mat-table">
        <table mat-table [dataSource]="products">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element">{{ element.title }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let element">{{ element.category }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element">{{ element.price }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-raised-button
                color="primary"
                (click)="openProductDetails(element)"
              >
                Open
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="pageSizeOptions"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
